.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#frontend files
# Logs
/app/frontend/logs
/app/frontend/*.log
/app/frontend/npm-debug.log*
/app/frontend/yarn-debug.log*
/app/frontend/yarn-error.log*
/app/frontend/pnpm-debug.log*
/app/frontend/lerna-debug.log*

/app/frontend/node_modules
/app/frontend/.DS_Store
/app/frontend/dist
/app/frontend/dist-ssr
/app/frontend/coverage
/app/frontend/*.local

/app/frontend/cypress/videos/
/app/frontend/cypress/screenshots/

# Editor directories and files
/app/frontend/.vscode/*
!/app/frontend/.vscode/extensions.json
/app/frontend/.idea
/app/frontend/*.suo
/app/frontend/*.ntvs*
/app/frontend/*.njsproj
/app/frontend/*.sln
/app/frontend/*.sw?

/app/frontend/*.tsbuildinfo
